@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  @apply text-font-black;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #13cb6e transparent;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #13cb6e;
  border-radius: 0.25rem;
  /* border: #e5eefd 2px solid; */
}

::-webkit-scrollbar-thumb:hover {
  background: #38e18c; 
}

.anchor {
  padding-top: 5.2rem;
  margin-top: -5.2rem;
}

.flip-words {
  overflow: hidden;
}

#flip > div > div {
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}