@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants hover {
    .filter-none {
      filter: none;
    }

    .filter-grayscale {
      filter: grayscale(100%);
    }

    .flip-rotation {
      transform: rotateY(180deg);
    }
  }
}

/* purgecss start ignore */

html,
body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  @apply text-font-black;
  @apply bg-light;
}

/* Spinner */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #13cb6e;
  position: fixed;
  z-index: 1060;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #13cb6e, 0 0 5px #13cb6e;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #13cb6e;
  border-left-color: #13cb6e;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Scrollbar */

body {
  scrollbar-width: thin;
  scrollbar-color: #13cb6e transparent;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #13cb6e;
  border-radius: 0.25rem;
  /* border: #e5eefd 2px solid; */
}

::-webkit-scrollbar-thumb:hover {
  background: #38e18c;
}

/* Flipping animation */

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.first-flip-card:hover .flip-card-inner,
.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.brick {
  -webkit-mask-image: url('../assets/images/brick-wall.svg');
  mask-image: url('../assets/images/brick-wall.svg');
  z-index: -1;
}

/* purgecss end ignore */
